.lcont {
    min-width: 1140px;
    margin-left: 5px;
    margin-right: 5px;
}

.litem {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
}

.ltitle {
    font-weight: bold;
    margin-bottom: 3px;
}

.litem-c {
    max-width: 500px;
    max-height: 300px;
}

/* align image to bottom */
.litem-c2 {
    position: absolute;
    bottom: 0px;
}

.litem svg {
    max-height: 300px;
}
